.containter {
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    transition: box-shadow 0.3s;
    max-width: 62px;
    width: 100%;

    font-weight: 900;
    font-size: 18px;
}

.containter.blue {
    background: var(--button-dark-blue);
}

.containter.pink {
    background: var(--button-pink);
}
