.wrapper {
    background: rgba(128, 128, 128, 0.293);
    width: 100px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;

    cursor: pointer;
}

.set {
    background: wheat;
    width: 50px;
    margin: 10px auto;
    padding: 10px;

    text-align: center;
    border-radius: 50%;
}

.field {
    background: pink;
}

.table {
    background: grey;
    display: flex;
    flex-wrap: wrap;

    width: 200px;
    height: 100px;
}

.cell {
    background: red;
    font-size: 32px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
}

.cell:hover {
    background: green;
    visibility: visible;
}
