.wrapper {
    color: var(--text-black);
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    background: #EDF7FA;

}

.one {
    width: 100%;
}

.two {
    width: 100%;
}
